html,body{
    color:#000;
    font:12px "Microsoft YaHei", Arial;
    background:#f4f4f4;
    overflow:hidden;
}
ul{
    margin:0;
}
header{
    height:63px;
}
a{
    text-decoration:none;
    color:#000;
}

header .header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    border-bottom:1px solid #ddd;
    background:#fff;
}
header ul{
    width:1020px;
    margin:0 auto;
    list-style:none;
}
header ul>li{
    float:left;
    height:63px;
    cursor:pointer;
}

li>a{
    display:inline-block;
    font-weight:700;
    color:#666;
}
li.logo a{
    height:63px;
    width:160px;
    background:url('../images/kbs-logo_717297.png') no-repeat 0 50%;
    margin-right:60px;
}
li.tabList>a{
    width:90px;
    border-top:4px solid transparent;
    border-bottom:4px solid transparent;
    line-height:50px;
    font-size:16px;
    text-align:center;
}
li.tabList:hover a{
    border-top-color:#346aff;
}
li.code .dlCode{
    position:relative;
    display:none;
    height:93px;
    padding-top:90px;
    text-align:center;
    z-index:2;
    /*background:url("../images/weixin_6a9b86.jpg") no-repeat #fff;*/
    background:red;
    /*opacity:0.8;*/
}
li.code:hover .dlCode{
    display:block;
}
li>a img{
    height:63px;
}
li.login{
    float:right;
    width:46px;
    margin:0 48px 0 0;
}
li.login div{
    margin:20px 20px 0 0;
    height:28px;
    line-height:28px;
    width:100%;
    background:#346aff;
    color:#fff;
    text-align:center;
    border-radius:2px;
}
header ul>li.clickon a{
    background:rgb(52,106,255);
    color:#fff;
}
.content{
    height:752px;
    width:1040px;
    margin:10px auto 0;
}
nav{
    height:100%;
    width:198px;
    float:left;
}
.nav{
    max-height:752px;
    width:198px;
    border:1px solid #eee;
    background:#fff;
    overflow:hidden;
    position:absolute;
}

.nav ul{
    margin:0;
    padding:0;
    list-style:none;
}
.nav ul li a{
    position:relative;
    width:178px;
    line-height:55px;
    font-size:16px;
    border-left:5px solid transparent;
    text-align:left;
    padding-left:20px;
}
.nav ul li:hover a{
    background:#eff3ff;
    color:#3374e0;
    border-left-color:#3374e0;
}
.nav ul li i{
    position:absolute;
    right:0;
    top:20px;
    height:20px;
    width:40px;
}
.nav ul li i:before,.nav ul li i:after{
    content:'';
    position:absolute;
    width:0;
    height:0;
    border:5px solid transparent;
    display:none;
}
.nav ul li i:before{
    left:8px;
    border-left-color:#3374e0;
}
.nav ul li i:after{
    left:5px;
    border-left-color:#eff3ff;
}
.nav ul li.bg a{
    background:#eff3ff;
    border-left-color:#346aff;
}
.nav ul li.bg i:before,.nav ul li.bg i:after{
    display:block;
}
#nav .iScrollVerticalScrollbar{
    visibility:hidden;
}
#nav:hover .iScrollVerticalScrollbar{
    visibility:visible;
}

.section{
    width:820px;
    float:left;
    margin-left:20px;
    overflow:visible;
    height:800px;
    position:relative;
}
.section .iScrollVerticalScrollbar{
     visibility:hidden;
 }
.section:hover .iScrollVerticalScrollbar{
    visibility:visible;
}
.section h4{
    margin:0;
    height:20px;
    padding:10px 0;
    font-weight:400;
    line-height:20px;
    border-bottom:1px solid #eee;
    background:#fff;
}
.section h4.on p{
    margin:0;
    padding-left:15px;
    border-left:5px solid red;
    font-weight:700;
    font-size:16px;
}

#section .game-list{
    display:block;
    height:60px;
    background:#fff;
    font-size:16px;
    line-height:60px;
    border-bottom:1px solid #eee;
    padding:0;
    margin:0;
}
.game-list li:nth-child(1){
    width:15%;
}
.game-list li:nth-child(2){
    width:18%;
}
.game-list li:nth-child(3){
    width:47%;
}
.game-list li:nth-child(4){
    width:18%;
    color:#3374e0;
}
.game-list li{
    display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.game-list li img{
    height:40px;
    width:43px;
    vertical-align:middle;
    margin-left:5px;
    margin-right:10px;
}
.game-list li i{
    padding-right:5px;
}
.game-list li span{
    color:#999;
}
.section h4.off{
    margin-top:40px;
    height:20px;
    font-weight:700;
    font-size:18px;
}
.section h4.off p{
    margin:0;
    padding-left:15px;
    border-left:5px solid #ccc;
}
.section .game-list .match{
    display:inline-block;
    margin:0 15px;
    color:#3374e0;
    font-size:18px;
}
.section .game-list .stackIcon{
    position:relative;
    height:60px;
}
.section .game-list .stackIcon span{
    display:inline-block;
    line-height:100%;
    color:#346aff;
}
.section .game-list .stackIcon span:nth-child(1){
    position:absolute;
    top:10%;
    left:0;
}
.section .game-list .stackIcon span:nth-child(2){
    position:absolute;
    top:60%;
    left:0;
}
.iScrollIndicator{
    display:block;
}



